.container {
  margin: 86px 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.container p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #666;
}