.dialogContent {
  padding: 16px 24px !important;
  padding-top: 10px !important;
  width: min(70vw, 552px);
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.AddWordIcon {
  position: fixed !important;
  bottom: 5vh;
  right: 3vw;
  border: 1px solid #1976d238 !important;
  background-color: #FFF !important;

  @media (max-width: 1000px) {
    right: 6vw;
  }
  @media (max-width: 500px) {
    right: 10vw;
  }
}

.AddWordMeaningContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.AddWordMeaning {
  padding: 15px;
  border: 1px solid rgb(189 189 189 / 87%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.meaningExample {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid rgb(189 189 189 / 87%);
  border-radius: 4px;
}

.addMoreDefinition {
  display: flex;
  justify-content: right;
}

.addMoreText {
  color: #1565c0;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
}

.addWordDialogActions {
  display: flex !important;
  justify-content: center !important;
}

.crossIcon {
  position: absolute;
  top: -11px;
  right: -11px;
}