.container {
    margin-top: 64px;
}

.scrollableCont {
    height: calc(100vh - 64px);
    overflow-y: auto;
}

.buttonContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: white;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}

.acknowledgeBtn {
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    font-size: 20px;
}

.acknowledgeBtn:hover {
    background: #f2f2f2;
}

.btnText {
    cursor: pointer;
}

.dotElastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-elastic 1s infinite linear;
  }
  .dotElastic::before, .dotElastic::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dotElastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ff8080;
    color: #ff8080;
    animation: dot-elastic-before 1s infinite linear;
  }
  .dotElastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #80ffad;
    color: #80ffad;
    animation: dot-elastic-after 1s infinite linear;
  }
  
  @keyframes dot-elastic-before {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1.5);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes dot-elastic {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 1.5);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes dot-elastic-after {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }