.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wordMeaning {
    padding-left: 10px;
}

.wordMeaningsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meaningBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userMeaning {
    border-right: 1px solid #bdbdbd;
    padding-right: 5px;
}

.wordDefinitions {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.example {
    padding-left: 20px;
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
}

.synonyms {
    font-size: 14px;
    padding-left: 10px;
    color: #666;
    display: flex;
    align-items: center;
}

.synonyms span {
    color: #333;
    margin-left: 5px;
}

.example span {
    color: #333;
    background-color: #f2f2f2;
    padding: 3px 7px;
    border: 1px solid gray;
    border-radius: 15px;
    margin-left: 5px;
}

.partOfSpeech {
    font-weight: 550;
}